# Ignores local config.
config.local.php

# Ignores Genmod media files.
index/
media/
tmp/

# Ignores compiled binary files.
*.ex?

# Ignores temporary files.
*.bak
*.swp
*~

# Ignores test results in HTML format.
*.htm

# Ignores test result logs.
*.log

# Ignores Finder metadata files on Mac
.DS_Store
